asgiref==3.12.1
certifi==2026.6.17
charset-normalizer==3.4.9
Django==6.0.7
django-redis==7.0.0
djangorestframework==3.17.1
dotenv==0.9.9
hiredis==3.4.0
idna==3.18
python-dotenv==1.2.2
redis==8.0.1
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
